<section class="section is-fullwidth">
    <pre class="container is-fullwidth" contenteditable="true">
       {{#lines}}
           <code class="is-fullwidth non-test">
               {{ code }}
           </code>
       {{/lines}}
    </pre>
    <button class="button is-warning my-2" onclick="runCode()">Run Code</button>
    <script rel="text/javascript">
        function runCode() {
            var code = '';
            var nodes = document.querySelectorAll("code.non-test") ?? [];
            nodes.forEach(x => code = code + x.innerText);
            eval(code);
        }
    </script>
</section>
